.shopTop{
   width: 100%;
   margin-top: 0.9rem;
   padding-bottom: 2rem;
   
}
.shopCn{
    width: 100%;
    height: 3rem; 
    margin: 0.4rem 0;

}
.shopImg{
    height: 1rem;  
    display: flex;

}
.shopImg img{
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
}

.shopImg div{
  line-height: 1rem;
  margin-left: 0.2rem;

}

.shop_con{
  width: 100%;
  overflow: hidden;
}
.shop_con_left{
  display: flex;
  overflow: hidden;
  margin-left: -1rem;

}
.shop_con_left1{
  display: flex;
  overflow: hidden;
 

}
.del {
  width: 0.8rem;
  height: 1.5rem;
  background-color: orange;
  text-align: center;
  line-height: 1.5rem;
  color: #ffffff;
  position: absolute;
  right: 0;
  margin-top: -2rem;
 }

.shop_con_img1{
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem 0.2rem;
}
.shop_con_img2, .shop_con_img2 img{
  width: 1.5rem;
  height: 1.5rem ;
  margin-left: -0.1rem;
  
}
.shop_con_con{
  width: 3rem;
  height: 1.5rem;
 
  margin-left: 0.1rem;
}
.num{
  width: 5rem;
  height: 0.5rem;
  display: flex;
}
.num1 {
  width: 0.9rem;
  height: 0.5rem;
  border: 0.01rem solid #cccc;
  text-align: center;
  line-height: 0.5rem;
}
.numtotal{
  margin-top: 0.2rem;
}
.numone{
  margin-top: 0.2rem;
}
