
.page{
    width: 100vw;

}
.header {
    height: 0.8rem;
    background: #ff9900;
    overflow: hidden;
    position: relative;
  }
  
  .header-left {
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.3rem;
    margin-top: 0.15rem;
  }
  
  .header-right {
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.48rem;
    margin-top: 0.15rem;
    position: relative;
  }
  
  .header-right-img {
    width: 0.5rem;
    height: 0.5rem;
    float: left;
  }
  
  .header-right-text {
    position: absolute;
    width: 0.34rem;
    height: 0.34rem;
    font-size: 0.18rem;
    color: #fff;
    background: #ff0000;
    text-align: center;
    line-height: 0.34rem;
    border-radius: 50%;
    right: -0.17rem;
    top: -0.17rem;
  }
  
  .header-center {
    width: 100%;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    font-size: 0.42rem;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .top {
    height: 2.4rem;
    background: #ff9900;
    position: relative;
  }
  
  .ava {
    width: 1.8rem;
    height: 1.8rem;
    border: 0.14rem solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -0.9rem;
    bottom: -0.9rem;
  }
  
  .bottom {
      
    width: 100%;
    height: 2.62rem;
    background-color: #fff;

  }
  
  .titlt {
    padding-top: 0.96rem;
    text-align: center;
    font-size: 0.32rem;
    color: #333;
  }
  
  .collection {
    margin-top: 0.5rem;
    overflow: hidden;
   
  }
  
  .xin {
    width: 0.38rem;
    height: 0.38rem;
    margin-left: 0.33rem;
    float: left;
    margin-right: 0.25rem;
  }
  
  .collction-text {
    font-size: 0.34rem;
    line-height: 0.38rem;
    float: left;
   
  }
  
  .order {
    margin-top: 0.14rem;
  }
  
  .order-top {
    height: 1.24rem;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #333333;
  }
  
  .order-top-left {
    float: left;
    font-size: 0.34rem;
    line-height: 1.24rem;
    color: #333333;
    margin-left: 45px;
  }
  
  .order-top-right {
    float: right;
    color: #b6b6b6;
    line-height: 1.24rem;
    font-size: 0.34rem;
  }
  
  .order-bottom {
    height: 1.88rem;
    background: #fff;
    overflow: hidden;
  }
  
  .status {
    width: 20%;
    float: left;
    height: 1.88rem;
  }
  
  .img-parent {
    width: 0.54rem;
    height: 0.48rem;
    margin: 0 auto;
    margin-top: 0.46rem;
    position: relative;
  }
  
  .status-img {
    width: 0.54rem;
    height: 0.48rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .status-text {
    font-size: 0.18rem;
    width: 0.38rem;
    height: 0.38rem;
    background: red;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -0.19rem;
    top: -0.19rem;
    text-align: center;
    line-height: 0.38rem;
  }
  
  .status-info {
    margin-top: 0.23rem;
    font-size: 0.24rem;
    color: #666;
    text-align: center;
  }
  .address {
    background: #fff;
    font-size: 0.34rem;
    height: 1.3rem;
    line-height: 1.3rem;
    padding-left: 0.43rem;
    margin-top: 0.14rem;
    color: #666666;
  }